/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos para el encabezado */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilos para el contenido principal */
#main-content {
    padding: 20px;
    text-align: center;
}

/* Estilos para el contenedor de textareas */
.textarea-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* Estilos para las textareas */
textarea {
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Para evitar que el usuario cambie el tamaño de las textareas */
}

/* Estilos para el botón */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para el pie de página */
footer {
    position: absolute;
    color: #0a3871;
    height: auto;
    width: 100%;
    font-size: 18px;
    bottom: 0;
    padding: auto;
    text-align: center;
  }
  .avatar-github {
    border-radius: 50%;
    width: 3%;
  }
  @media screen and (max-width: 768px) {
    header {
      top: 20px;
    }
    main {
      flex-direction: column;
    }
    .input {
      width: calc(100% - (80px));
      padding: 128px 0 0;
    }
    .text-encrypt {
      width: calc(100% - (80px));
      margin-top: 0;
      max-width: 100%;
    }
    .hide-content {
      margin: 0;
    }
    footer {
      display: none;
    }
  }
  
  @media screen and (max-width: 375px) {
    header {
      top: 10px;
    }
    .input {
      margin: 16px;
      width: calc(100% - (32px));
      padding: 74px 0 0;
    }
    .div-buttons {
      flex-direction: column;
    }
    .div-buttons {
      width: 100%;
    }
    .text-encrypt {
      margin: 0 16px 16px;
      width: calc(100% - (32px));
    }
    footer {
      display: none;
    }
  }
